<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsp.mapper.DepartmentMapper">

    <select id="queryList" parameterType="String" resultType="com.wsp.pojo.Department">

        select * from department where name = #{name}

    </select>
</mapper>